.Dictionary section {
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(0,0,0,05%);
    margin: 20px;
}

.Dictionary input {
    width: 100%;
    padding: 6px 4px;
     border-radius: 6px;
     border: 1px solid #0bafd4;
     color: #0bafd4;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

